# cache files
.DS_Store
.Rapp.history

# descriptions
*.docx
*.xlsx
spatial_grid_*

# output/

# data which is too large to commit
data/VRE
data/prediction_grid_cache*.rds

# notes to self
modelling_issues.md


# ignoring working/unnecessary directories
deprecated/
report/
env_rasters/
Updated_df/
output/
MEOW/
data/MEOW/
ICES_ecoregions/
docs/
scripts/

# ignoring working/unnecessary files
pipeline_run.log
For_modeling_df*
GAM_top_reduced*
all_extracted_new.rds
testing.R

eezs/
hotosm_fra_waterways_lines_geojson/
seagrass_eov/
eov_cache/
testing.ipynb